.profile__info {
  width: 100%;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "name btnAdd"
    "titleAddBtn btnAdd";
  /* min-height: 148px; */
  align-items: self-end;
}
@media screen and (max-width: 740px) {
  .profile__info {
    grid-template-areas:
      "name"
      "titleAddBtn";
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    /* max-height: 120px; */
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    margin-top: 26px;

    /* justify-content: flex-end; */
    align-items: center;
  }
}
