.logo {
  margin-top: 45px;
  margin-bottom: 41px;
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 600px) {
  .logo {
    margin: 28px 0 32px 27px;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    width: 126px;
    height: 24px;
  }
}
