.btn-edit {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-image: url(../../img/icons/pan-icon.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border: 1px solid #ffffff;
  padding: 7px;
  width: 24px;
  height: 24px;
}
.btn-edit:hover {
  opacity: 0.6;
}
