.textbox {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 27px;
  max-width: 358px;
  font-family: Inter, Helvetica, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.textbox:focus {
  outline: none;
}
